
<html>
	<head>
		<title> TÍTULO PRIMERA WEB </title>
        
        <link rel="stylesheet" href = "{{url_for('static', filename='css/main.css')}}">
	</head>

<!-- EN HEAD NO SE VE NADA, VA ESCONDIDO-->


	<body>
<!-- script src="archivo.js"></script>-->
		

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Jaccard</a>
      <a class="nav-item nav-link" href="#">Cosenos</a>
      <a class="nav-item nav-link" href="#">Pearson</a>
      </div>
  </div>
</nav>

		
		<h2>Título del App</h2>
		<br />

		<h2> Párrafos </h2>
		
		<p>
		sdf ssdh  d <b>ertert ert ert</b> ert d  <strong>dfgsf sdf</strong> ser df 
		sdf h d d g <i>rty rty</i> rrytryrt <br/>rtyry rt t t yr t r r y
		df  f f d f ghhdfg df
		</p>	
		<hr/>
		<h2> Párrafos 2 </h2>
		<hr/>
		<h2> <i>Nicolás París Riaño, CFA </i> </h2>
		<a taget="_blank" href = "https://www.youtube.com/watch?v=RdnS55MbdY4">Ir a Youtube</a>

<!-- LISTAS-->

		<ul>
			<li>Item 1</li>
			<li>Item 2</li>
			<li><a href="#">Item 3</li>
			<li>Item 4</li>
				<ul>
					<li>sub elemento</li>	
				</ul>
		</ul>


<!-- LISTAS ORDENADAS-->		
		<ol>
			<li>Item 1</li>
			<li>Item 2</li>
			<li>Item 3</li>
			<li>Item 4</li>
				
		</ol>

<body>

<html>